*{
  background-color: #140152;
}

.principal{
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.title-categorie{font-family: 'Stick No Bills', sans-serif;}
  
  .card-title{
font-family: 'Stick No Bills', sans-serif;
text-align: center;
}


.card-categorie {
  background: transparent;
  border: 2px solid red;
  box-shadow: 2px 2px 15px #000000 inset;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico';
}

.card-categorie:hover {
  color: red;
  box-shadow: 2px 2px 15px red inset;
}
