:root{
    --color1: #02010A;
    --color2: #04052E;
    --color3: #140152;
    --color4: #22007C;
    --color5: #0D00A4;
}
body{
    background-image: url("../assets/registration/fondo6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size:auto;
}

.imgUbic{
    margin-top: 90px;
}
img{
    border-radius: 50%;
}

#RegistrationTitle{
    color: white;
    font-size:30px;
    font-family: 'Chakra Petch', sans-serif; 
    font-weight: 800;
    text-align: center;
}

.form{
    background-color:rgba(2, 1, 10, 0.8);
    padding: 10px 40px;
    border-radius: 5%;
    overflow: hidden;
    font-family: 'Chakra Petch', sans-serif;
}

#labelRegistration{
    color: white;
}

#irLogin{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@keyframes animation {
    0%{background-position: 0%;}
    100%{background-position: 400%;}
}

#padreFooter{
    height: 25vh !important;
}